*{
  font-family: monospace;
}

:root{
  --navTextSize: 1.4rem;
  --navItemColor: white;

  --priColor: #FFED65;
  --secColor: #59FFA0;
  --accColor: #FDFFF7;
  --comColor: black;
}

.App {
  text-align: center;
  background-color: black;
}

/* 
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

html{
  scrollbar-width: none;
  scroll-behavior: smooth;
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;
  width: 100vw;
  align-content: center;
}

main:nth-last-of-type(even){
  justify-content: right;
}

h1{
  margin: 0;
  font-size: 1rem;
}

nav{
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-content: center;
  height: 72px;
  background-color: var(--secColor);
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  z-index: 1000;

  transition-property: display, opacity;
  transition-duration: .2s;
  transition-behavior: allow-discrete;
}
nav > h1{
  color: var(--comColor);
  margin: auto 0 auto 0;
  font-size: var(--navTextSize);
}
nav > ul{
  display: block;
  align-content: center;
  padding: 0;
  /* gap: 50px; */
}
a{
  text-decoration: none;

  &:visited{
    color: var(--comColor);
  }
  
}
ul li {
  text-decoration: none;
  list-style: none;
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  display: flex;
  align-content: center;
  justify-content: end;
  width: 128px;
}
ul li a{
  color: var(--comColor);
  font-size: var(--navTextSize);
  font-weight: bold;
  display: inline-block;
  text-decoration: unset;

  &:hover {
    font-weight: 1000;
    text-decoration: underline;
  }
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secColor);
  width: 100vw;
  height: 1080px;
}

p{
  color: var(--comColor);
  font-weight: bolder;
  font-size: 1.4rem;
  text-wrap: balance;
}

Button{
  color: var(--comColor);
  background-color: var(--secColor);
  padding: 1rem;
  font-size: 1.2rem;
  border: 0 solid transparent;
  border-radius: 1rem;
  font-weight: bolder;
  min-width: 128px;
  max-width: fit-content;
  box-shadow: 0 0 black;
  transition: filter .1s ease-in-out, box-shadow .3s ease-in-out;

  &:hover{
    filter: invert();
    box-shadow: 5px 5px white;
  }
}

#introCard{
  background: 
		  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#59FFA0 54% 57%,#0000 59%) 0 calc(120px/2),
		  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#59FFA0 54% 57%,#0000 59%) calc(120px/2) 0,
		  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#59FFA0 54% 57%,#0000 59%),
		  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#59FFA0 54% 57%,#0000 59%),
		  #FFED65;
	background-size: calc(120px/4.667) 120px,120px calc(120px/4.667);
  min-height: 1080px;
  width: 100vw;
  box-shadow: none;
}

#heroicon{
  max-width: 768px;
  width: 90vw;
  transition: transform 1s ease-in-out;

  &:hover{
    transform: scale(1.05);
  }
}

#errorStatus{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;
  font-weight: bolder;
}

/*
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
*/

.txt_center{
  text-align: center;
}

.aboutPage{
  background-color: var(--priColor);
}

.center_flex_black{
  background-color: var(--secColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  height: 1080px;
}

.gap_50px{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.showNav{
  display: flex;
  opacity: 1;

  @starting-style{
    opacity: 0;
  }
}
.hiddenNav{
  animation: hideNavAni 1s;

  display: none;
  opacity: 0;
}

.width-fit{
  width: 90vw;
  max-width: 768px;
}

@keyframes hideNavAni {
  from{
    opacity: 1;
  }
  to{
    display: none;
    opacity: 0;
  }
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (min-width: 768px) {
 }

 /* Small devices (portrait tablets and large phones, 600px and up)
 @media only screen and (min-width: 600px) {

 }
  */
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 