*{
  font-family: monospace;
}

:root{
  --navTextSize: 1.4rem;
  --navItemColor: white;

  --priColor: #171738;
  --secColor: #3423A6;
  --accColor: #FDFFF7;
  --comColor: white;
  --milk: #e8e8c7;

  --navHeight: 52px;
}

.App {
  text-align: center;
  background-color: black;
}

/* 
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

html{
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: var(--secColor);
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--priColor);
  width: 100vw;
  align-content: center;
}

main:nth-last-of-type(even){
  justify-content: right;
}

h1{
  margin: 0;
}


i{
  text-decoration: underline;
}

#navWrapper{
  display: flex;
  position: fixed;
  height: var(--navHeight);
  width: 100vw;
  z-index: 1000;
}

nav{
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-content: center;
  background-color: var(--secColor);
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  z-index: inherit;

  transition-property: display, opacity;
  transition-duration: .3s;
  transition-behavior: allow-discrete;
}
nav > h1{
  color: var(--comColor);
  margin: auto 0 auto 0;
  font-size: var(--navTextSize);
}
a{
  text-decoration: none;

  &:not(:visited){
    color: var(--comColor)
  }
  &:visited{
    color: var(--comColor);
  }
}

h2{
  color: var(--comColor);
}

section{
  animation: sectionAppear .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  height: fit-content;
  min-height: fit-content;
  padding: 64px 0 64px 0;
  gap: 1rem;
}

footer{
  background-color: var(--secColor);
  min-height: 256px;
}

p{
  color: var(--comColor);
  text-wrap: balance;
}

Button{
  color: var(--priColor);
  background-color: var(--milk);
  padding: 1rem;
  font-size: 1.2rem;
  border: 0 solid transparent;
  border-radius: 1rem;
  font-weight: bolder;
  min-width: 128px;
  max-width: fit-content;
  box-shadow: 0 0 black;
  transition: filter .1s ease-in-out, box-shadow .1s ease-in-out;

  &:hover{
    filter: invert();
    box-shadow: 5px 5px white;
  }

  &:disabled{
    background-color: var(--secColor);
    color: var(--milk);

  }

  &:disabled:hover{
    box-shadow: none;
    filter: none;
  }
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  background-color: white;

  width: 90vw;
  max-width: 540px;

  border: 0px solid transparent;
  border-radius: 1rem;


  & div{
    width: 100%;
    padding: 1rem 0 1rem 0;
  }

  & input{
    width: calc(100% - 2rem);
    max-width: 768px;
    border: none;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bolder;
    padding:  0 0 0 1rem;
  }

  & textarea{
    width: 100%;
    min-height: 540px;
    max-width: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    border: none;
    border-radius: 0 0 0 0;
    padding: 0 0 0 0;
  }

  & label{
    height: calc(var(--navHeight) / 2);
    display: block;
    font-family: sans-serif;
    font-size: 1.2rem;
    padding-left: 1rem;
    background-color: rgb(0, 0, 0 / 25%);
  }

}


.article540px{
  width: 100%;
  max-width: 540px;
}
.article768px{
  width: 100%;
  max-width: 768px;
}

.heroImage{
  width: 100%;
  border: none;
  border-radius: 2rem;
  transform: scale(1);
  transition: transform .5s;

  &:hover{
    filter: drop-shadow(0 0 .5rem var(--milk));
    transform: scale(1.014);
  }
}

.noMargin{
  margin: 0;
}

.noPadding{
  padding: 0;
}

/* 
ID - ID
ID - ID
ID - ID
ID - ID
ID - ID
ID - ID
*/

#submitButton{
  width: 100%;
  max-width: none;
  border-radius: 0 0 1rem 1rem;
  
  &:hover{
    box-shadow: none;
  }
}

.hamButton{
  align-self: center;
  min-width: calc(var(--navHeight) - 8px) ;
  max-width: none;
  padding: 0;
  aspect-ratio: 1/1;
  background-size: contain;
  background-image: url(../public/images/hamStatic.png);
  
  &:hover{
    box-shadow: none;
  }
}

#hamburger{
  display: none;
}

#hamburgerOpen{
  display: block;
  background: var(--secColor);
  min-height: fit-content;
  border: 2px solid black;
  border-radius: 1rem;
  position: absolute;
  top: calc(var(--navHeight) + 1rem);
  right: 1rem;
  width: fit-content;
  padding: 1rem;

  

  & ul{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

  }
  & ul > li{
    list-style: none;
  }

}

#bigNav{
  display: none;
  & ul{
    list-style: none;
  }
}

#projectButtons{
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 768px;
  padding: 20px 0 20px 0;
}

#introCard{
  /* background: 
		  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,var(--secColor) 54% 57%,#0000 59%) 0 calc(120px/2),
		  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,var(--secColor) 54% 57%,#0000 59%) calc(120px/2) 0,
		  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,var(--secColor) 54% 57%,#0000 59%),
		  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,var(--secColor) 54% 57%,#0000 59%),
		  var(--priColor);
	background-size: calc(120px/4.667) 120px,120px calc(120px/4.667); */

  background-color: var(--secColor);

  min-height: fit-content;
  width: 100vw;
  /* box-shadow: 0 0 200px rgba(0,0,0,0.2) inset; */
}

#heroicon{
  max-width: 768px;
  width: 90vw;
  transition: transform 1s ease-in-out;
}

#errorStatus{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;
  font-weight: bolder;
}

#projectsh2{
  background-color: inherit;
  margin: 0;
  padding: 20px;
}

#formSection{
  justify-content: start;
  padding: 6rem 0 6rem 0;
}

#aboutSection{
  min-height: 960px;
}

#aboutMeH1{
  margin: 0 auto 0 auto;
  max-width: 768px;
  width: 90vw;
  display: block;
  font-size: 3rem;
  color: var(--comColor);
}

#websiteCard{
  width: 90vw;
  transition: filter .5s;
  text-decoration: none;
  background-color: transparent;
  max-width: 360px;
  text-align: left;
  color: black;

  background-color: white;
  border: none;
  border-radius: 1rem;

  transition: transform .5s;
  transform: scale(1);

  &:hover{
    transform: scale(1.05);
    box-shadow: none;
    filter: drop-shadow(0 0 1rem black);
  }

  &:visited{
    color: black;
  }

  & h1{
    text-align: left;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  & h2{
    font-size: 1.25rem;
  }

  & article{
    padding: 1rem;
  }

  & figure{
    margin: 0;
    padding: 0;
    & img{
      width: 100%;
      max-width: 360px;
    }
    & figcaption{
      font-size: 1rem;
      text-align: center;
    }
  }

  & div{
    margin: 1rem 0 1rem 0;
  }
  
  & div.flexEvenRow{
    & img{
      margin-left: auto;
      margin-right: auto;
      display: block;
      max-width: 32px;
    }
  }
}

#featuredTechnologies{
  width: 100%;
  max-width: 360px;

  & h2{
    color: black;
    margin: 0;
  }

  & figcaption{
    text-align: center;
  }

}

.technologiesIcons{
  display: block;
  height: 32px;
  aspect-ratio: 1/1;
}

#backArrowContainer{
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 90%;
  max-width: 768px;
}

#leftBackArrow{
  height: 48px;
  width: 48px;
  background-color: var(--milk);
  border: none;
  border-radius: 50%;
  background-image: url(../public/images/arrow.svg);
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;

  transition: background-size .25s, background-color .25s;

  &:hover{
    background-size: 85%;
    background-color: var(--secColor);
  }
}


#webProj1{
  color: white;
  width: 90vw;
}



/*
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
*/


.font1{
  font-family: "Germania One", system-ui;
  font-size: 2rem;
}

.font2{
  font-family: "Pixelify Sans", system-ui;
  font-size: 2rem;
}

.bgcPri{
  background-color: var(--priColor);
}
.bgcSec{
  background-color: var(--secColor);
}

.textUnderline{
  text-decoration: underline;
}

.divFit{
  width: 100%;
  max-width: 540px;
}

.imageFit{
  width: 100%;
}

.imageFit360px{
  width: 100%;
  max-width: 360px;
}

.imageMiddle{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linGradi{
  background: linear-gradient(to bottom, var(--secColor), var(--priColor));
}

.gallery{
  /* margin: 120px 0 120px 0; */
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  align-self: center;
  padding: 10px;

  & figure{
    margin: 0;
  }

  & figure figcaption{
    color: var(--comColor);
    font-weight: bolder;
  }
}
.gallery figure img{
  width: 100%;
  max-width: 512px;
  border-radius: 1rem;
  border: none;
  margin: auto;
}

.shortfilmGallery{
  width: 90%;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  & iframe{
    aspect-ratio: 16/9;
    border: none;
    border-radius: 2rem;
  }
}



.gameSectionArticle{
  width: 90vw;
  max-width: 540px;
  
  & h3{
    color: var(--comColor);
  }
  & h4{
    color: var(--comColor);
  }
}
.gameSectionArticle > video{
  border-radius: 1rem;
  background-color: var(--secColor);
  width: 100%;
}

.primaryOpposite{
  background-color: var(--priColor);
}

.txt_center{
  text-align: center;
}

.line_spacing{
  line-height: auto;
}

.priCol{
  background-color: var(--priColor);
}

.secCol{
  background-color: var(--secColor);
}

.center_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.flexEvenRow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex_col{
  flex-direction: column;
}
.flex_row{
  flex-direction: row;
}
.flex_alignself_left{
  align-self: flex-start;
}
.flex_alignself_right{
  align-self: flex-end;
}
.flex_alignself_center{
  align-self: center;
}

.center_flex_black{
  background-color: var(--secColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  height: fit-content;
}

.gap_50px{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.showNav{
  display: flex;
  opacity: 1;

  @starting-style{
    opacity: 0;
  }
}
.hiddenNav{
  animation: hideNavAni 1s;

  display: none;
  opacity: 0;
}

.width-fit{
  width: 90vw;
  max-width: 768px;
}

.showHam{
  background-image: url(../public/images/hamC.gif);
}

.hideHam{
  background-image: url(../public/images/hamO.gif);
}

.socialList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  align-items: center;
  list-style: none;
  gap: 1rem;

  & li a img{
    height: var(--navHeight);
  }

}


@keyframes hideNavAni {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes sectionAppear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  p{
    font-size: 1rem;
  }
  h2{
    font-size: 1rem;
  }
  button{
    font-size: 1rem;
  }
}

 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.gallery{
  grid-template-columns: 1fr 1fr;
}
#projectButtons{
  flex-direction: row;
}
.hamButton{
  display: none;
}
#bigNav{
  display: block;
  align-self: center;

  & ul {
    padding: 0;
    display: flex;
    margin: 0;
    gap: 1rem;
  }
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.gallery{
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 