*{
  font-family: monospace;
}

:root{
  --navTextSize: 1.4rem;
  --navItemColor: white;

  --priColor: #FFED65;
  --secColor: #59FFA0;
  --accColor: #FDFFF7;
  --comColor: black;

  --navHeight: 52px;
}

.App {
  text-align: center;
  background-color: black;
}

/* 
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

html{
  scrollbar-width: none;
  scroll-behavior: smooth;
  background-color: var(--secColor);
}

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--secColor);
  width: 100vw;
  align-content: center;
}

main:nth-last-of-type(even){
  justify-content: right;
}

h1{
  margin: 0;
  font-size: 1rem;
}

#navWrapper{
  display: flex;
  position: fixed;
  height: var(--navHeight);
  width: 100vw;
}

nav{
  flex-direction: row;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  align-content: center;
  background-color: var(--secColor);
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
  z-index: 1000;

  transition-property: display, opacity;
  transition-duration: .3s;
  transition-behavior: allow-discrete;
}
nav > h1{
  color: var(--comColor);
  margin: auto 0 auto 0;
  font-size: var(--navTextSize);
}
a{
  text-decoration: none;

  &:visited{
    color: var(--comColor);
  }
}

section{
  animation: sectionAppear .4s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--secColor), var(--priColor));
  width: 100vw;
  flex-direction: column;
  height: fit-content;
  min-height: 1080px;
  padding: 60px 0 60px 0;
  gap: 1rem;
}

footer{
  background: 
      linear-gradient(135deg,#0000 20.5%,#FFED65 0 29.5%,#0000 0) 0 15px,
      linear-gradient( 45deg,#0000 8%,#FFED65 0 17%, #0000 0 58%) 30px 0,
      linear-gradient(135deg,#0000 8%,#FFED65 0 17%, #0000 0 58%,#FFED65 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#FFED65 0 17%, #0000 0 58%,#FFED65 0 67%,#0000 0 83%,#FFED65 0 92%,#0000 0),
      #59FFA0;
  background-size: 60px 60px;
  min-height: 256px;
}

p{
  color: var(--comColor);
  font-weight: bolder;
  font-size: 1.4rem;
  text-wrap: balance;
}

Button{
  color: var(--comColor);
  background-color: var(--secColor);
  padding: 1rem;
  font-size: 1.2rem;
  border: 0 solid transparent;
  border-radius: 1rem;
  font-weight: bolder;
  min-width: 128px;
  max-width: fit-content;
  box-shadow: 0 0 black;
  transition: filter .1s ease-in-out, box-shadow .1s ease-in-out;

  &:hover{
    filter: invert();
    box-shadow: 5px 5px white;
  }

  &:disabled{
    background-color: white;
  }

  &:disabled:hover{
    box-shadow: none;
    filter: none;
  }
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  background: 
		  linear-gradient(135deg,#0000 20.5%,#FFED65 0 29.5%,#0000 0) 0 10px,
		  linear-gradient( 45deg,#0000 8%,#FFED65 0 17%, #0000 0 58%) 20px 0,
		  linear-gradient(135deg,#0000 8%,#FFED65 0 17%, #0000 0 58%,#FFED65 0 67%,#0000 0),        
		  linear-gradient( 45deg,#0000 8%,#FFED65 0 17%, #0000 0 58%,#FFED65 0 67%,#0000 0 83%,#FFED65 0 92%,#0000 0),
		  #59FFA0;
	background-size: 40px 40px;

  width: 90vw;
  max-width: 768px;

  border: 0px solid transparent;
  border-radius: 1rem;

  & div{
    width: 100%;
  }

  & input{
    width: 100%;
    max-width: 768px;
    border: none;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;
    border: none;
    border-radius: 1rem;
    padding-left: 10px;
  }

  & textarea{
    width: 100%;
    min-height: 256px;
    max-width: 768px;
    border: none;
    padding-left: 10px;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 1rem;
  }

  & label{
    font-size: 1.2rem;
  }

}


/* 
ID - ID
ID - ID
ID - ID
ID - ID
ID - ID
ID - ID
*/

.hamButton{
  align-self: center;
  min-width: calc(var(--navHeight) - 8px) ;
  max-width: none;
  padding: 0;
  aspect-ratio: 1/1;
  background-size: contain;
  background-image: url(../public/images/hamStatic.png);
  
  &:hover{
    box-shadow: none;
  }
}

#hamburger{
  display: none;
}

#hamburgerOpen{
  display: block;
  background: var(--secColor);
  min-height: fit-content;
  border: 2px solid black;
  border-radius: 1rem;
  position: absolute;
  top: calc(var(--navHeight) + 1rem);
  right: 1rem;
  width: fit-content;
  padding: 1rem;

  

  & ul{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

  }
  & ul > li{
    list-style: none;
  }

}

#bigNav{
  display: none;
  & ul{
    list-style: none;
  }
}

#projectButtons{
  display: flex;
  width: 100%;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 768px;
  padding: 20px 0 20px 0;
}

#introCard{
  background: 
		  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#59FFA0 54% 57%,#0000 59%) 0 calc(120px/2),
		  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#59FFA0 54% 57%,#0000 59%) calc(120px/2) 0,
		  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#59FFA0 54% 57%,#0000 59%),
		  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#59FFA0 54% 57%,#0000 59%),
		  #FFED65;
	background-size: calc(120px/4.667) 120px,120px calc(120px/4.667);
  min-height: 1080px;
  width: 100vw;
  box-shadow: 0 0 200px rgba(0,0,0,0.2) inset;
}

#heroicon{
  max-width: 768px;
  width: 90vw;
  transition: transform 1s ease-in-out;
}

#errorStatus{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;
  font-weight: bolder;
}



#projectsh2{
  background-color: var(--secColor);
  margin: 0;
  padding: 20px;
}

#formSection{
  justify-content: start;
}

/*
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
CLASSES - CLASSES -
*/

.gallery{
  /* margin: 120px 0 120px 0; */
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  align-self: center;
  padding: 10px;
}
.gallery > img{
  width: 100%;
  max-width: 768px;
  border-radius: 1rem;
  border: none;
  margin: auto;

}

.gameSectionArticle{
  width: 90vw;
  max-width: 768px;
  
}
.gameSectionArticle > video{
  background-color: var(--priColor);
  width: 100%;
}

.primaryOpposite{
  background-color: var(--priColor);
}

.txt_center{
  text-align: center;
}

.line_spacing{
  line-height: auto;
}

.aboutPage{
  background-color: var(--priColor);
}

.center_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.flex_col{
  flex-direction: column;
}
.flex_row{
  flex-direction: row;
}
.flex_alignself_left{
  align-self: flex-start;
}
.flex_alignself_right{
  align-self: flex-end;
}
.flex_alignself_center{
  align-self: center;
}

.center_flex_black{
  background-color: var(--secColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  height: 1080px;
}

.gap_50px{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.showNav{
  display: flex;
  opacity: 1;

  @starting-style{
    opacity: 0;
  }
}
.hiddenNav{
  animation: hideNavAni 1s;

  display: none;
  opacity: 0;
}

.width-fit{
  width: 90vw;
  max-width: 768px;
}

.showHam{
  background-image: url(../public/images/hamC.gif);
}

.hideHam{
  background-image: url(../public/images/hamO.gif);
}


@keyframes hideNavAni {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes sectionAppear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

 /* Small devices (portrait tablets and large phones, 600px and up)
 @media only screen and (min-width: 600px) {

 }
  */
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .gallery{
    grid-template-columns: 1fr 1fr;
  }
  #projectButtons{
    flex-direction: row;
  }
  .hamButton{
    display: none;
  }
  #bigNav{
    display: block;
    align-self: center;

    & ul {
      padding: 0;
      display: flex;
      margin: 0;
      gap: 1rem;
    }
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
  }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 